.root {
    /* padding-top: 45px; */
}
.header {
    background-color: #f6f5f6;
    height: 45px;
    padding: 0 10px;
}

.header :global(.icon-back) {
    font-size: 16px;
    color: #999;
}

/*.header :global(.icon-map) {
    color: #00ae66;
}

.header :global(.search) {
    height: 30px;
}*/

.searchHeader {
    position: relative;
    top: 0;
    padding: 0;
}

.searchHeader :global(.icon-map) {
    color: #00ae66;
}

.searchHeader :global(.search) {
    height: 30px;
}

/* 房屋列表样式 */
.houseItems {
    padding: 0 15px;
}

.houseItems :global(.ReactVirtualized__List) {
    padding-bottom: 50px;
}

.loading {
    line-height: 120px;
    text-align: center;
    height: 110px;
    background-color: #f6f5f6;
}
