html, body {
    height: 100%;
    font-family: "Microsoft YaHei";
    color: #333;
    background: #fff;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    touch-action: pan-y;
}

h1, h2, p, ul {
    margin: 0;
}
ul {
    list-style: none;
}

html, body, #root, .App {
    height: 100%;
}
